/* sets fonts and font size for everything in body */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* aligns the confirmation message to center and changing it's color to transparent*/
#confirm-message {
  text-align: center;
  padding-bottom: 5px;
  color: transparent;
}

/* styling for everything in the text block bodies */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* changes background color of each class depending on if they were assigned past present or future*/
.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

/* styling for save button */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

/* adds transitions when you hover over button */
.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}